*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    top: -60px;
    height: 150px;
    font-family: 'Spectral';
}

.imgUm{
  top: 55%;
  width: 100%;
}

.casinha {
    display: flex;
    justify-content: center;
}

.container_sobre{
    font-family: 'Spectral';
    border-radius: 15px;   
    background-color: #ffdfd4;
    width: 75%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 25px;
}

.titulo_prin{
    font-size: 45px;
    padding-right: 70px;
}

.texto_sobre{
    font-size: 24px;
    text-align: justify;
}

.prod{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Spectral';
}


.produtos{
    display: flex;
    justify-content: center;
    gap: 55px;
    font-family: 'Spectral';
}

.prod_tomate_assado{
    width: 500px;
    height: 500px;
}

.pizza{
    width: 500px;
    height: 500px;
}



.col{
    font-family: 'Spectral';
    font-size: 20px;
    gap: 35px;
}

.contato{
    gap: 35px;
    display: inline-flex;
    justify-content: space-around;
    text-align: center;
}


